<header>
  <h1>Periodic Table</h1>
</header>
<main>
  <div class="table">
    <div
      *ngFor="let element of elements"
      [style.grid-column-start]="element.c"
      [style.grid-column-end]="element.c + 1"
      [style.grid-row-start]="element.r"
      [style.grid-row-end]="element.r + 1"
      class="element {{ element.type }}"
    >
      <div>
        <span class="number">{{ element.number }}</span>
        <!-- <div>{{ element.weight }}</div> -->
      </div>
      <div class="symbol">
        <span class="symbol">{{ element.symbol }}</span>
      </div>
      <div class="name">
        <span class="name">{{ element.name }}</span>
      </div>
    </div>
  </div>
</main>
